<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--ngocnb-->
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>controller.AuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorFilter</filter-name>
        <filter-class>controller.AuthorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/shipper/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/shipper/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyRegister</servlet-name>
        <servlet-class>controller.VerifyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPwdController</servlet-name>
        <servlet-class>controller.ResetPwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllController</servlet-name>
        <servlet-class>controller.account.ListAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationController</servlet-name>
        <servlet-class>controller.account.InformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminController</servlet-name>
        <servlet-class>controller.account.CreateAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscountCodeController</servlet-name>
        <servlet-class>controller.discount.CreateDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDiscountCodeController</servlet-name>
        <servlet-class>controller.discount.ListDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountCode</servlet-name>
        <servlet-class>controller.discount.DeleteDiscountCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayStaffController</servlet-name>
        <servlet-class>controller.account.DisplayStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffController</servlet-name>
        <servlet-class>controller.account.EditStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>controller.account.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderInStockController</servlet-name>
        <servlet-class>controller.shipper.GetOrderInStockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shipperWorkingController</servlet-name>
        <servlet-class>controller.shipper.shipperWorkingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationProductController</servlet-name>
        <servlet-class>controller.InformationProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controller.comment.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>controller.comment.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayController</servlet-name>
        <servlet-class>controller.PayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>controller.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController2</servlet-name>
        <servlet-class>controller.SearchController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderHistoryServlet</servlet-name>
        <servlet-class>controller.orderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>controller.orderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>controller.CancelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyRegister</servlet-name>
        <url-pattern>/confirm-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPwdController</servlet-name>
        <url-pattern>/resetPwd</url-pattern>
    </servlet-mapping>
    <!--end ngocnb-->
    <servlet-mapping>
        <servlet-name>ListAllController</servlet-name>
        <url-pattern>/admin/list-all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationController</servlet-name>
        <url-pattern>/admin/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminController</servlet-name>
        <url-pattern>/admin/create-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscountCodeController</servlet-name>
        <url-pattern>/admin/create-discount-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDiscountCodeController</servlet-name>
        <url-pattern>/admin/list-discount-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountCode</servlet-name>
        <url-pattern>/admin/delete-discount-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayStaffController</servlet-name>
        <url-pattern>/admin/display-all-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffController</servlet-name>
        <url-pattern>/admin/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderInStockController</servlet-name>
        <url-pattern>/shipper/in-stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shipperWorkingController</servlet-name>
        <url-pattern>/shipper/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationProductController</servlet-name>
        <url-pattern>/infoProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>
    <!--hoangnm-->
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.product.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.product.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>controller.product.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoUpdateController</servlet-name>
        <servlet-class>controller.product.GoUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.product.GetUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.product.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.product.ListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/admin/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoUpdateController</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/admin/getupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/admin/updatenumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/admin/list</url-pattern>
    </servlet-mapping>
    <!--end hoangnm-->
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/user/send-comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/user/send-reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/user/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/user/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController2</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderHistoryServlet</servlet-name>
        <url-pattern>/user/order-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/user/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/user/cancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5000
        </session-timeout>
    </session-config>
</web-app>
